In [ ]:
#w5a1
x,y=map(int, input().split())
def Max_of_Two( a, b):
    if ( a >= b ): return a
    else: return b
print(Max_of_Two(x,y))

1 2
2

In [ ]:
#w5a2
a,b=map(int, input().split())
def swap(a,b):
    a,b=b,a
    return a,b

print(swap(a,b))

2 3
(3, 2)

In [ ]:
#w5a3
n=int(input())
from math import sqrt
def snt(n):
    if ( n <= 1 ):  return False
    for i in range(2,int(sqrt(n))+1):
        if ( n % i == 0 ): return False
    return True
print(snt(n))

13
True

In [ ]:
#w5a4
n=int(input())
from math import sqrt
def pnum(n):
    s=1
    for i in range(2,int(sqrt(n))+1):
        if ( n % i == 0 ):
           s+= i + n/i
    if ( s == n ): return True
    return False
print(pnum(n))

123
False

In [ ]:
#w5a5
a=list(map(int, input().split()))
n=int(input())
def firtloc(n):
    for i in range(1, len(a)+1):
        if ( a[i-1] == n ):
          return i
    return -1
print(firtloc(n))

1 1 1 1 1 1
2
-1

In [ ]:
#w5a6
n=int(input())
def factorial(n):
    if ( n == 0 ): return 1
    fac=1
    for i in range( 1 , n+1 ):
        fac*=i
    return fac
print(factorial(n))

20
2432902008176640000

In [ ]:
#w5a7
a=list(map(str, input().split()))
a[0]=float(a[0])
a[2]=float(a[2])
def operator(a):
    if ( a[1] == '+' ): return a[0]+a[2]
    if ( a[1] == '-' ): return a[0]-a[2]
    if ( a[1] == '*' ): return a[0]*a[2]
    if ( a[1] == '/' ): return a[0]/a[2]
print(format(operator(a), ".2f"))

23.89 * 23.12
552.34

In [55]:
#w5a8
a,b=map(int, input().split())
def reverse(s):
  str = ""
  while (s != 0):
    str = chr(s%2+48) + str
    s = int(s/2)
  return str
a=reverse(a)
b=reverse(b)
if (len(a)<=len(b)):
    while (len(a)<len(b)):
      a="0"+a
if (len(a)>len(b)):
    while (len(b)<len(a)):
      b="0"+b
def count(a , b):
    counter=0
    for i in range(0,len(a)):
        if ( a[i] != b[i] ): counter+=1
    return counter
print(count(a,b))

123456 32321
6

In [ ]:
#w5a9
n=int(input())
def tcs(n):
    s=0
    while ( n != 0 ):
      s+=int(n % 10)
      n/=10
    return s
print(tcs(n))

100
1

In [68]:
#w5a10
a,b=map(str, input().split())

def kt(s1 , s2):

    map_s1_s2 = {} # Map char from s1 to s2
    map_s2_s1 = {} # Map char from s2 to s1 (to ensure one-to-one mapping)

    for i in range(len(s1)):
        char_s1 = s1[i]
        char_s2 = s2[i]

        # Check mapping from s1 to s2
        if char_s1 in map_s1_s2:
            if map_s1_s2[char_s1] != char_s2:
                return False # Inconsistent mapping for char_s1
        else:
            # If s1 char is new, ensure s2 char isn't already mapped to a different s1 char
            if char_s2 in map_s2_s1:
                return False # char_s2 is already mapped to a different char_s1
            map_s1_s2[char_s1] = char_s2
            map_s2_s1[char_s2] = char_s1

    return True

if (kt(a,b)): print("true")
else: print("false")

paper title
true